




<!-- 創建活動-淨山-說明文字 -->
<!-- 活動申請流程 -->
<div >

    <div class="otherBox ">
        <h3 class="text-center">快速揪團流程</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                1. 填寫活動申請
            </dt>
            <dd class="col-12">

                填寫活動資訊與聯絡資訊
            </dd>



            <dt class="col-12">

                2. 等待管理員審核
            </dt>
            <dd class="col-12">等待管理員審核您創建的活動</dd>


            <dt class="col-12">

                3. 活動報名
            </dt>
            <dd class="col-12">

                快速揪團模式於活動日期的前一日以前自動截止報名，於活動報名截止前達到活動發起人設置之人數上限的話，將提前進入下一階段。無最低人數限制。<br>

            </dd>



            <dt class="col-12">

                4. 申請服務時數證明
            </dt>
            <dd class="col-12">
                如需申請服務時數證明，
                需填寫活動成果紀錄<br>
                1.淨灘地點（海岸線）<br>
                2.人數、日期、時間...等活動資訊<br>
                3.資源與非資源垃圾重量（公噸）<br>
                4.活動前後照片
            </dd>


        </dl>


    </div>



    <!-- 服務時數說明 -->

    <div class="otherBox ">
        <h3 class="text-center">服務時數申請說明</h3>
        <dl class="row activityRule2">

            <dt class="col-12">
                1. 以發起人為代表申請
            </dt>
            <dd class="col-12">
                以活動發起人為代表填寫活動成果紀錄，於申請表單時勾選申請服務時數選項，活動結束後發起人上傳成果紀錄表後，則所有參與者都能自動獲得服務時數證明。
            </dd>

            <dt class="col-12">

                2. 填寫活動成果紀錄
            </dt>
            <dd class="col-12">
                活動參與者於活動結束7內填寫成果紀錄表
            </dd>



            <dt class="col-12">

                3. 時數證明發放
            </dt>
            <dd class="col-12">至活動管理頁面下載時數證明</dd>




        </dl>



    </div>





    <!-- 快速揪團注意事項 -->
    <div class="otherBox ">
        <h3 class="text-center">快速揪團注意事項</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                1.多久前可創建活動
            </dt>
            <dd class="col-12">

                最快活動前一日可創建活動，今天揪團明天出發，不需審核即成立，請注意：無提供垃圾車聯絡與清掃工具服務！
            </dd>



            <dt class="col-12">

                2.活動截止報名時間
            </dt>
            <dd class="col-12">活動開始前均可加入快速模式的活動，直到人數達上限為止。</dd>


            <dt class="col-12">

                3. 淨山用具回收利用
            </dt>
            <dd class="col-12">
                響應環保政策，除了手套、環境維護袋以外，其餘工具均需回收使用。
                達到人數上限：將提前進入下一階段。
            </dd>

            <dt class="col-12">

                4. 淨山注意事項
            </dt>
            <dd class="col-12">
                1. 穿戴手套與包腳鞋，以避免利物刺、穿傷。<br>
                2. 注意玻璃、針頭、或其他尖銳物品。<br>
                3. 遠離懸崖峭壁，並隨時注意山區天氣變化。<br>
                4. 若廢棄物太過於龐大，切勿清理。<br>
                5. 避免踩踏山區生(植)物。<br>
                6. 攜帶飲用水、防曬油、太陽眼鏡、遮陽帽、工作手套、垃圾袋。<br>
                7. 活動期間請注意安全，區內禁止露營、生火烤肉、野炊及燃放火燭等行為，請確實遵守。<br>
                8. 請申請人自行考量情況辦理保險項目。<br>
                9. 如遇天候不佳，請事先考量取消活動。
            </dd>





        </dl>


    </div>



</div>
