



<!-- 創建活動-淨山-說明文字 -->
<!-- 活動申請流程 -->

<div>

    <div class="otherBox ">
        <h3 class="text-center">創建活動流程</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                <h4>1. 填寫活動申請</h4>
            </dt>
            <dd class="col-12">

                填寫活動資訊與聯絡資訊
            </dd>



            <dt class="col-12">

                <h4>2. 等待管理員審核</h4>
            </dt>
            <dd class="col-12">等待管理員審核您創建的活動</dd>


            <dt class="col-12">

                <h4>3. 等待其他夥伴加入</h4>
            </dt>
            <dd class="col-12">
                活動報名截止：<br>
                一般模式於活動日期的十四個工作天以前自動截止報名，於活動報名截止前達到活動發起人設置之人數上限的話，將提前進入下一階段。<br>
                <br>
                未達最低人數：<br>
                報名截止日以前未達到特定活動地點要求之最低人數限制將通知延期舉辦，請再次申請活動。<br>
                達到人數上限：將提前進入下一階段。
            </dd>

            <dt class="col-12">

                <h4>4.等待政府單位審核</h4>
            </dt>
            <dd class="col-12">
                由環保機關協助審核內容
            </dd>



            <dt class="col-12">

                <h4>5. 確認垃圾清運地點</h4>
            </dt>
            <dd class="col-12">
                如需清潔隊協助清運垃圾，<br>
                需於審核通過後與清潔隊確認垃圾暫置位置，<br>
                避免活動日影響到一般民眾。

            </dd>


            <dt class="col-12">

                <h4>6. 活動當日聯繫清掃</h4>

            </dt>
            <dd class="col-12">淨灘完畢垃圾集中後，聯繫清潔隊確認清運時間。</dd>

            <dt class="col-12">

                <h4>7. 申請服務時數證明</h4>
            </dt>
            <dd class="col-12">
                如需申請服務時數證明，
                需填寫活動成果紀錄<br>
                1.淨灘地點（海岸線）<br>
                2.人數、日期、時間...等活動資訊<br>
                3.資源與非資源垃圾重量（公噸）<br>
                4.活動前後照片
            </dd>


        </dl>


    </div>



    <!-- 服務時數說明 -->

    <div class="otherBox ">
        <h3 class="text-center">服務時數申請說明</h3>
        <dl class="row activityRule2">

            <dt class="col-12">
                <h4>1. 以發起人為代表申請</h4>
            </dt>
            <dd class="col-12">
                以活動發起人為代表填寫活動成果紀錄，於申請表單時勾選申請服務時數選項，活動結束後發起人上傳成果紀錄表後，則所有參與者都能自動獲得服務時數證明。
            </dd>

            <dt class="col-12">

                <h4>2. 填寫活動成果紀錄</h4>
            </dt>
            <dd class="col-12">
                活動參與者於活動結束7內填寫成果紀錄表
            </dd>



            <dt class="col-12">

                <h4>3. 時數證明發放</h4>
            </dt>
            <dd class="col-12">至活動管理頁面下載時數證明</dd>




        </dl>



    </div>
    <!-- 垃圾清運規定 -->
    <div class="otherBox">
        <h3 class="text-center">垃圾清運規定</h3>
        <dl class="row activityRule2">

            <dt class="col-12">
                <h4>派員協助垃圾清運須符合最低人數要求</h4>

            </dt>




            <dt class="col-12">

                <h4>無限制人數：</h4>
            </dt>
            <dd class="col-12">新北市、台中市、宜蘭縣、苗栗縣、嘉義縣、屏東縣、台東縣、澎湖縣、連江縣</dd>


            <dt class="col-12">

                <h4>
                    10人以上：
                </h4>
            </dt>
            <dd class="col-12">
                台南市、高雄市、新竹市
            </dd>

            <dt class="col-12">
                <h4>
                    20人以上：
                </h4>
            </dt>
            <dd class="col-12">
                桃園市、新竹縣、基隆市、金門縣
            </dd>


            <dt class="col-12">
                <h4>
                    30人以上：
                </h4>
            </dt>
            <dd class="col-12">
                彰化縣、雲林縣
            </dd>

            <dt class="col-12">
                <h4>
                    50人以上：
                </h4>
            </dt>
            <dd class="col-12">
                花蓮縣
            </dd>







        </dl>


    </div>





    <!-- 淨山注意事項 -->
    <div class="otherBox ">
        <h3 class="text-center">淨山注意事項</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                <h4>1. 淨山用具申請注意事項</h4>
            </dt>
            <dd class="col-12">

                由於淨山時無法手持多樣工具，敬請按所需選擇用具數量，管理單位並得視情況調整另通知申請人。
            </dd>



            <dt class="col-12">

                <h4>2. 環境維護袋</h4>
            </dt>
            <dd class="col-12">依據實際狀況提供。新北市區域請配合使用專用垃圾袋(資源部分可使用一般垃圾袋)。。</dd>


            <dt class="col-12">

                <h4>3. 淨山用具回收利用</h4>
            </dt>
            <dd class="col-12">
                響應環保政策，除了手套、環境維護袋以外，其餘工具均需回收使用。
                達到人數上限：將提前進入下一階段。
            </dd>

            <dt class="col-12">

                <h4>4. 淨山注意事項</h4>
            </dt>
            <dd class="col-12">
                1. 穿戴手套與包腳鞋，以避免利物刺、穿傷。<br>
                2. 注意玻璃、針頭、或其他尖銳物品。<br>
                3. 遠離懸崖峭壁，並隨時注意山區天氣變化。<br>
                4. 若廢棄物太過於龐大，切勿清理。<br>
                5. 避免踩踏山區生(植)物。<br>
                6. 攜帶飲用水、防曬油、太陽眼鏡、遮陽帽、工作手套、垃圾袋。<br>
                7. 活動期間請注意安全，區內禁止露營、生火烤肉、野炊及燃放火燭等行為，請確實遵守。<br>
                8. 請申請人自行考量情況辦理保險項目。<br>
                9. 如遇天候不佳，請事先考量取消活動。
            </dd>





        </dl>


    </div>



</div>
