








<!-- 創建活動-淨路-說明文字
           淨山要經過政府許可，淨灘不用，淨路沒找到相關說明所以預設不用政府許可。 -->
<!-- 活動申請流程 -->
<div>

    <div class="otherBox ">
        <h3 class="text-center">創建活動流程</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                <h4>1. 填寫活動申請</h4>
            </dt>
            <dd class="col-12">

                填寫活動資訊與聯絡資訊
            </dd>



            <dt class="col-12">

                <h4>2. 等待管理員審核</h4>
            </dt>
            <dd class="col-12">等待管理員審核您創建的活動</dd>


            <dt class="col-12">

                <h4>3. 等待其他夥伴加入</h4>
            </dt>
            <dd class="col-12">
                活動報名截止：<br>
                一般模式於活動日期的十四個工作天以前自動截止報名，於活動報名截止前達到活動發起人設置之人數上限的話，將提前進入下一階段。<br>
                <br>
                未達最低人數：<br>
                報名截止日以前未達到特定活動地點要求之最低人數限制將通知延期舉辦，請再次申請活動。<br>
                達到人數上限：將提前進入下一階段。
            </dd>



            <dt class="col-12">

                <h4>4. 申請服務時數證明</h4>
            </dt>
            <dd class="col-12">
                如需申請服務時數證明，
                需填寫活動成果紀錄<br>
                1.淨灘地點（海岸線）<br>
                2.人數、日期、時間...等活動資訊<br>
                3.資源與非資源垃圾重量（公噸）<br>
                4.活動前後照片
            </dd>


        </dl>


    </div>



    <!-- 服務時數說明 -->

    <div class="otherBox ">
        <h3 class="text-center">服務時數申請說明</h3>
        <dl class="row activityRule2">

            <dt class="col-12">
                <h4>1. 以發起人為代表申請</h4>
            </dt>
            <dd class="col-12">
                以活動發起人為代表填寫活動成果紀錄，於申請表單時勾選申請服務時數選項，活動結束後發起人上傳成果紀錄表後，則所有參與者都能自動獲得服務時數證明。
            </dd>

            <dt class="col-12">

                <h4>2. 填寫活動成果紀錄</h4>
            </dt>
            <dd class="col-12">
                活動參與者於活動結束7內填寫成果紀錄表
            </dd>



            <dt class="col-12">

                <h4>3. 時數證明發放</h4>
            </dt>
            <dd class="col-12">至活動管理頁面下載時數證明</dd>




        </dl>



    </div>











</div>
