 
    
    
    
    <!-- 髒亂通報-說明文字 -->
<!-- 髒亂通報流程 -->
<div>

    <div class="otherBox ">
        <h3 class="text-center">髒亂通報流程</h3>
        <dl class="row activityRule2">

            <dt class="col-12">

                <h4>1. 填寫髒亂通報表單</h4>
            </dt>
            <dd class="col-12">

                填寫髒亂地點的資訊與您的聯絡資訊，請務必髒亂地點的相片至少五張、至多十張，建議上傳不同角度的照片。
            </dd>



            <dt class="col-12">

                <h4>2. 等待管理員審核</h4>
            </dt>
            <dd class="col-12">
                等待管理員審核您通報的內容，管理員將依據您上傳的相片進行圖像辨識以分析垃圾數量，待審核結束後將會回傳分析結果給您。
            </dd>


            <dt class="col-12">

                <h4>3. 發布髒亂通報</h4>
            </dt>
            <dd class="col-12">

                若垃圾量達標，網站將發布您的通報資料於網站首頁予他人觀看，號召眾人前往清掃，若垃圾量過少則不發布消息。

            </dd>



        </dl>


    </div>











</div>
