<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner">

    <h2>環保活動揪團平台</h2>

    <ul class="actions">

        <li><a href="#" class="button  special big"><i class="fas fa-history fa-lg"></i>髒亂通報</a></li>
        <li><a href="#" class="button  special big"><i class="fas fa-history fa-lg"></i>發起活動</a></li>

        <li><a href="#" class="button  special big"><i class="fas fa-history fa-lg"></i>快速揪團</a></li>

        <li><a href="#" class="button  special big"><i class="fas fa-history fa-lg"></i>加入活動</a></li>

    </ul>
</section>

<!--one-->
<section id="one">
    <div class="container">

        <header class="major">
            <h2>近期活動</h2>
            <p>Popular Event</p>
        </header>
        <div class="container">

            <!-- Event Card -->
            <div class="event_card">

                <div class="card_title">

                    <header>

                        <h3>鼻頭角步道淨山去顆顆顆顆顆</h3>

                        <p>10天前</p>
                    </header>

                </div>

                <div class="card_func">
                    <a href="#" class="button icon"><i class="far fa-heart fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-plus-circle fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-envelope fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-info-circle fa-lg"></i></a>

                </div>
                <div class="card_content">
                    <div class="content">
                        <ul>
                            <li>
                                <i class="icon fas fa-user-plus fa-1x">
                                </i><span>發起人的名字痾痾痾</span>
                            </li>
                            <li>
                                <i class="icon fas fa-user-plus fa-1x">
                                </i><span>12</span><span>/</span><span>40</span>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt fa-1x">
                                </i><span>新北市</span><span>鼻頭角步道</span>
                            </li>
                            <li>
                                <i class="fas fa-clock fa-1x">
                                </i><span>2021年03月10日</span><span>13:00-15:00</span>
                            </li>
                            <li>
                                <i class="fas fa-clock fa-1x">
                                </i><span>
                                    活動進度
                                </span>
                            </li>
                        </ul>



                    </div>
                    <!-- <div class="info">
                        <ul>
                            <li><i class="icon fas fa-user-plus fa-1x">
                                </i><span>發起人</span></li>
                            <li><i class="fas fa-map-marker-alt fa-1x">
                                </i><span>集合地點</span></li>
                            <li><i class="fas fa-clock fa-1x">
                                </i><span>活動說明活動說明活動說明活動說明活動說明
                                    活動說明活動說明活動說明活動說明活動說明活動說明
                                </span></li>

                        </ul>
                    </div> -->

                </div>

            </div>

            <div class="event_card">

                <div class="card_title">

                    <header>

                        <h3>鼻頭角步道淨山去顆顆顆顆顆</h3>

                        <p>10天前</p>
                    </header>

                </div>

                <div class="card_func">
                    <a href="#" class="button icon"><i class="far fa-heart fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-plus-circle fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-envelope fa-lg"></i></a>
                    <a href="#" class="button icon"><i class="fas fa-info-circle fa-lg"></i></a>

                </div>
                <div class="card_content">
                    <div class="content">
                        <ul>
                            <li>
                                <i class="icon fas fa-user-plus fa-1x">
                                </i><span>發起人的名字痾痾痾</span>
                            </li>
                            <li>
                                <i class="icon fas fa-user-plus fa-1x">
                                </i><span>12</span><span>/</span><span>40</span>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt fa-1x">
                                </i><span>新北市</span><span>鼻頭角步道</span>
                            </li>
                            <li>
                                <i class="fas fa-clock fa-1x">
                                </i><span>2021年03月10日</span><span>13:00-15:00</span>
                            </li>
                            <li>
                                <i class="fas fa-clock fa-1x">
                                </i><span>
                                    活動進度
                                </span>
                            </li>
                        </ul>



                    </div>
                    <!-- <div class="info">
                        <ul>
                            <li><i class="icon fas fa-user-plus fa-1x">
                                </i><span>發起人</span></li>
                            <li><i class="fas fa-map-marker-alt fa-1x">
                                </i><span>集合地點</span></li>
                            <li><i class="fas fa-clock fa-1x">
                                </i><span>活動說明活動說明活動說明活動說明活動說明
                                    活動說明活動說明活動說明活動說明活動說明活動說明
                                </span></li>

                        </ul>
                    </div> -->

                </div>

            </div>


        </div>
        <div>
            <ul class="actions">
                <li><a href="#" class="button special big">更多活動</a></li>

            </ul>
        </div>

    </div>

</section>




<!-- Ranking -->
<section id="three" class="wrapper style1">
</section>
<!-- Question -->
<section id="four" class="wrapper style1">
</section>

<!-- Contact -->
<section id="six" class="wrapper">
</section>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
    </div>
</footer>
@section scripts{
    <link href="@Url.Content("~/Content/CSS/main.css")" rel="stylesheet" type="text/css" />
}