




<!-- 會員目前積分和積分說明 -->
<div class="row mt-5 ">
    <div class="card col-12 col-md-5">
        <div class="card-body text-center">

            <h2 class="">5000</h2>
            <p>目前積分</p>

        </div>

    </div>

    <div class="card col-12 col-md-7 ">
        <div class="card-body text-center">

            <h4 class="">積分兌換說明</h4>
            <p px-5>
                每成功參加與發起一場活動獲得多少積分，
                您可使用會員積分兌換以下商品，
                點選兌換商品後將扣除會員積分，
                商品條碼於60秒內有效。
                注意！點數無法轉讓或贈予他人。
            </p>

        </div>

    </div>

</div>
