




<!-- 我發起的活動 -->
<div id="initiateEvent" class="tab-pane fade in">
    <table class="table table-hover">
        <thead>

            <tr>
                <th>選取</th>
                <th>狀態</th>
                <th>人數</th>
                <th>時間</th>
                <th>縣市</th>
                <th>地點</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>活動結束</td>
                <td>40</td>
                <td>2021年03月15日</td>
                <td>宜蘭縣</td>
                <td>北海岸玲玲一海灘</td>
                <td>
                    <!-- 發起的活動/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>

                    <!-- 發起的活動/ 修改活動資訊(修改活動申請表單部分內容:例如人數上限) 按鈕 -->
                    <!-- <button type="button" class=" btn btn-sm btn-outline-info  btn-circle"><i
                    class="icofont-edit"></i></button> -->
                    <!-- 發起的活動/ 寄信給所有參與者 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>
                    <!-- 發起的活動/ 退出活動 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-exit"></i>
                    </button>
                    <!-- 發起的活動/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>


                </td>
            </tr>

        </tbody>
    </table>
</div>
