





<!-- 選單:我參加的活動/我發起的活動/歷年活動紀錄 -->
<ul class="nav nav-pills ">
    <li class="active m-2">
        <a data-toggle="tab" href="#joinEvent"><i class="icofont-hand"></i>我參加的活動</a>
    </li>
    <li class="m-2">
        <a data-toggle="tab" href="#initiateEvent"><i class="icofont-bullhorn"></i>我發起的活動</a>
    </li>
    <li class="m-2">
        <a data-toggle="tab" href="#historyEvent"><i class="icofont-history"></i>歷年活動紀錄</a>
    </li>

</ul>
