







<!-- 依照時間先後排序足跡 新的放前面-->

<div>
    <h3 class="text-center">
        <i class="icofont-foot-print"></i>我的足跡
    </h3>
    <div class="" style="height:350px;overflow-y: scroll;">
        <div class="list-group">
            <!-- 每一筆足跡 -->
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">宜蘭縣</h4>
                    <small class="text-muted">1 days ago</small>
                </div>
                <p class="mb-1">某個海灘某個海灘</p>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">宜蘭縣</h4>
                    <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">某個海灘某個海灘</p>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">宜蘭縣</h4>
                    <small class="text-muted">5 days ago</small>
                </div>
                <p class="mb-1">某個海灘某個海灘</p>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">宜蘭縣</h4>
                    <small class="text-muted">20 days ago</small>
                </div>
                <p class="mb-1">某個海灘某個海灘</p>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">宜蘭縣</h4>
                    <small class="text-muted">30 days ago</small>
                </div>
                <p class="mb-1">某個海灘某個海灘</p>

            </a>


        </div>
    </div>





</div>
