
@{
    ViewBag.Title = "MePassword";
}



<!-- Page Content -->
<div class="container">

    <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
            <h3 class="content-header-title">00000</h3>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row mt-5">
        <!-- 側邊攔 Sidebar Column -->
        <div class="col-lg-2 mb-5 mt-5">
            @{
                Html.RenderPartial("Sidebar");
            }
        </div>

        <!-- 內容 Content Column -->
        <div class="content col-lg-10 mb-4 ">
            <div class="row mt-5">

            </div>


            <!-- 修改密碼 -->

            <form class="mt-5 row was-validated p-5 ">

                <!-- 文字表格區 -->
                <div class="col-12 col-md-8 px-5">
                    @{
                        Html.RenderPartial("ChangeMePassword");
                    }
                </div>


                <!-- 先放個圖片 之後可以做我不是機器人或是放個說明圖片-->

                <div class="col-12 col-md-4 px-5">
                    <img src="~/images/logo.svg" width="100%" height="100%">
                </div>



                <div class="form-group col-12 mt-5">
                    <div>
                        <button type="submit" class="btn btn-info  btn-block">確認修改</button>
                    </div>
                </div>
            </form>






        </div>



    </div>
</div>

