 
    
    
    
    <!-- 歷年通報紀錄 -->
<div id="historyMessy" class="tab-pane fade in">
    <table class="table table-hover">
        <thead>

            <tr>
                <th>選取</th>
                <th>狀態</th>
                <th>標題</th>
                <th>垃圾量(公斤)</th>
                <!-- 依照系統分析給的垃圾量單位是什麼去改 -->
                <th>建議人數</th>
                <th>縣市</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>已發布</td>
                <td>海岸垃圾</td>
                <td>20</td>
                <td>20</td>
                <td>新北市</td>
                <td>

                    <!-- 歷年通報紀錄/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                    <!-- 歷年通報紀錄/ 寄信給審核通報的人 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>

                    <!-- 歷年通報紀錄/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>
                </td>
            </tr>


        </tbody>
    </table>
</div>
