




 <!-- 我提交的通報 -->
<div id="addMessy" class="tab-pane fade in">
    <table class="table table-hover">
        <thead>

            <tr>
                <th>選取</th>
                <th>狀態</th>
                <th>標題</th>
                <th>垃圾量(公斤)</th>
                <!-- 依照系統分析給的垃圾量單位是什麼去改 -->
                <th>建議人數</th>
                <th>縣市</th>
                <th>功能</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>未審核</td>
                <td>蘇澳情人灣ㄅㄅ</td>
                <td>-</td>
                <td>-</td>
                <td>宜蘭縣</td>
                <td>

                    <!-- 我提交的通報/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                    <!-- 我提交的通報/ 寄信給審核通報的人 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>
                    <!--我提交的通報/ 取消通報 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-exit"></i>
                    </button>
                    <!-- 我提交的通報/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>已審核</td>
                <td>北海岸垃圾ㄅㄅ</td>
                <td>20</td>
                <td>20</td>
                <td>新北市</td>
                <td>

                    <!-- 我提交的通報/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                    <!-- 我提交的通報/ 寄信給審核通報的人 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>
                    <!--我提交的通報/ 取消通報 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-exit"></i>
                    </button>
                    <!-- 我提交的通報/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>已審核</td>
                <td>北海岸垃圾ㄅㄅ</td>
                <td>5</td>
                <td>2</td>
                <td>新北市</td>
                <td>

                    <!-- 我提交的通報/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                    <!-- 我提交的通報/ 寄信給審核通報的人 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>
                    <!--我提交的通報/ 取消通報 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-exit"></i>
                    </button>
                    <!-- 我提交的通報/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>已發布</td>
                <td>垃圾</td>
                <td>20</td>
                <td>20</td>
                <td>新北市</td>
                <td>

                    <!-- 我提交的通報/ 詳細資訊 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-navigation-menu"></i>
                    </button>
                    <!-- 我提交的通報/ 寄信給審核通報的人 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-envelope"></i>
                    </button>
                    <!--我提交的通報/ 取消通報 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-exit"></i>
                    </button>
                    <!-- 我提交的通報/ 刪除(這筆資料) 按鈕 -->
                    <button type="button" class=" btn btn-sm btn-outline-info  btn-circle">
                        <i class="icofont-ui-delete"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
