 
    
    
    
    
    <!--積分兌換-->
<div class="row mt-5">
    <h2 class="col-12 text-center"><i class="icofont-gift"></i>積分兌換</h2>
    <!-- 可以兌換的商品區塊 (需要的積分少的放前面) 目前第一個卡片用大的卡片(主推商品、主要贊助用大的卡片)-->
    <!-- 商品卡片: 圖片+商品標題+剩餘組數+兌換按鈕

    點擊圖片與商品標題會跳出商品介紹頁面(圖片+標題+商品內容說明+兌換注意事項)
    一樣10筆分頁
    參考MOMO購物網點數兌換&全家點數兌換 -->

    <div class="card pdCard col-12 col-md-12">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/kfc.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">肯德基Happy牛Year套餐</h4>
                    </a>
                    <h3 class="card-title"><i class="icofont-gift"></i>500點</h3>
                    <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>


                    <button type="button"
                            class="btn btn-info btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/kfc.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">肯德基Happy牛Year套餐</h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>500點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>


                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/noodles.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">
                            曾拌麵
                            香蔥椒麻/麻油椒香/胡麻醬香(4包/袋)
                        </h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>5000點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>

                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/kfc.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">肯德基Happy牛Year套餐</h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>500點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>


                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/noodles.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">
                            曾拌麵
                            香蔥椒麻/麻油椒香/胡麻醬香(4包/袋)
                        </h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>5000點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>

                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/kfc.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">肯德基Happy牛Year套餐</h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>500點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>


                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/noodles.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">
                            曾拌麵
                            香蔥椒麻/麻油椒香/胡麻醬香(4包/袋)
                        </h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>5000點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>

                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/kfc.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">肯德基Happy牛Year套餐</h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>500點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>


                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card  pdCard col-12 col-md-6">

        <div class="row no-gutters">
            <div class="col-md-6">

                <a href="#"> <img src="~/images/noodles.jpg" class="card-img" alt="..."></a>

            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <a href="">
                        <h4 class="card-title">
                            曾拌麵
                            香蔥椒麻/麻油椒香/胡麻醬香(4包/袋)
                        </h4>
                    </a>
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="card-title"><i class="icofont-gift"></i>5000點</h3>
                        <p class="card-text"><small class="text-muted">剩餘 50 組</small></p>

                    </div>

                    <button type="button"
                            class="btn btn-info  btn-block">
                        點我兌換
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
