
@{
    ViewBag.Title = "Signin";

    Layout = null;

    var cityList = ViewBag.CityList;
}

@Styles.Render("~/Content/css")



<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-8 col-md-8  col-lg-offset-4  col-md-offset-4">
            <form style="margin-left:5px;" method="post" action="~/Admin/LoginB/Signin">
                <h1>請輸入使用者資料</h1>
                <div>
                    <span style="color:red">@ViewBag.Msg</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">帳號</label>
                    <input type="text" class="form-control" id="Account" name="Account" placeholder="輸入帳號" value="">
                    <small id="emailHelp" class="form-text text-muted">請輸入英數字</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密碼</label>
                    <input type="password" class="form-control" id="Password1" name="Password1" placeholder="輸入密碼" value="">
                </div>
                <a type="submit" class="btn btn-primary" href='~/Admin/Home/Index'>確定</a>
                <button type="reset" class="btn btn-warning">清除</button>
            </form>
        </div>
    </div>
</div>