






<!-- 聯絡我們 -->

<section id="contact" class="contact">
    <div class="container">
        <h2 class="text-center section-title" data-aos="fade-up">聯絡我們</h2>

        <div class="row mt-5">

            <div class="col-lg-6 service-time" data-aos="fade-right">

                <h4>客服時段</h4>

                <div class="info">
                    <div class="time">
                        <p> <i class="icofont-clock-time"></i> 周一至周五｜09:00－16:30</p>

                    </div>
                    <div class="email">
                        <p><i class="icofont-facebook"></i> e7pn@example.com</p>
                    </div>

                    <div class="phone">
                        <p><i class="icofont-envelope"></i> E7PN一起保護自然臉書社團</p>
                    </div>
                    <p>如有任何系統上之操作問題請聯絡我們</p>
                    <p></p>
                </div>



            </div>

            <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="請輸入姓名" data-rule="minlen:4"
                                   data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="請輸入信箱" data-rule="email"
                                   data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="請輸入標題"
                               data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="4" data-rule="required"
                                  data-msg="Please write something for us" placeholder="請輸入訊息"></textarea>
                        <div class="validate"></div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-block btn-outline-info">送出</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
