





@model E7PNN.Models.ViewModel.NewestActivityVm




<!-- 髒亂通報 Section-->
<section id="messy" class="messy">

    <div style="width: 100%;height: 1100px;background-image: url('../../images/mountain.jpg');background-size: cover;">




        <div class="container">
            <br />
            <br />
            <br />
            <h2 class="text-center section-title" data-aos="fade-up">髒亂通報</h2>
            <div class="text-center m-5 counter-section ">
                <div class=" row wrapper">
                    <div class="col-4 single-counter " data-aos="fade-up">
                        <i class="icofont-alarm"></i>
                        <h2>
                            <span class="counter">10</span>
                        </h2>
                        <p>未解決案件</p>
                    </div>
                    <div class="col-4 single-counter " data-aos="fade-up">
                        <i class="icofont-alarm"></i>
                        <h2>
                            <span class="counter">1</span>
                        </h2>
                        <p>已解決案件</p>
                    </div>
                    <div class="col-4 single-counter " data-aos="fade-up">
                        <i class="icofont-alarm"></i>
                        <h2>
                            <span class="counter">66</span>
                        </h2>
                        <p>歷年通報</p>
                    </div>
                </div>
            </div>
            <div class="card-columns" data-aos="fade-up">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 5月 8日</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>新北市龍洞站-鼻頭角步道
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 60%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 45
                        </p>
                    </div>
                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 7月 10日</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>宜蘭外澳沙灘
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 30%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 30
                        </p>
                    </div>
                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 8月 8日 </h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>白沙灣海洋公園
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 50%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 40
                        </p>
                    </div>
                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 9月 17日</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>宜蘭焚鳥林
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 25%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 15
                        </p>
                    </div>
                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 10月 1日</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>台北市象山步道
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 70%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 50
                        </p>
                    </div>
                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">髒亂通報</h3>
                        <h6 class="card-subtitle mb-2 text-muted">髒亂通報日期:2020 12月 5日</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="icofont-location-pin"></i>宜蘭林美石磐步道
                        </p>
                        <p class="card-text">
                            <i class="icofont-clock-time"></i>垃圾量多少 35%
                        </p>
                        <p class="card-text">
                            <i class="icofont-search-user"></i>建議清掃人數 35
                        </p>
                    </div>

                    <div class="card-link">

                        <a href="" type="button" class="btn btn-md btn-outline-info  btn-circle"
                           data-toggle="modal" data-target="#messyModalCenter">
                            <i class="icofont-info"></i>

                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

@section scripts{
    <script src="@Url.Content("~/Scripts/11_js/jq/jquery.counterup.js")" type="text/javascript"></script>
    <!-- counter-up -->
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")"></script>
    <script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")"></script>
}

<!-- Modal 髒亂通報卡片詳細資料-->

<div class="modal fade info-modal" id="messyModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="messyModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="messyModalCenterTitle">髒亂通報確認</h3>

                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-body">


                <p class="card-text">
                    <span><i class="icofont-user"></i>通報人</span>
                    <span>王大千</span>
                </p>

                <p class="card-text">
                    <span><i class="icofont-location-pin"></i>通報地點</span>
                    <span>宜蘭焚鳥林</span>
                </p>
                <p class="card-text">
                    <span><i class="icofont-calendar"></i>通報日期</span>
                    <span>2020 9月 17日</span>
                </p>

                <p class="card-text">
                    <span><i class="icofont-search-user"></i>垃圾量</span>
                    <span>25%</span>
                </p>
                <p class="card-text">
                    <span><i class="icofont-search-user"></i>建議人數</span>
                    <span>15</span>
                </p>




            </div>

            <div class="modal-body">
                <div id="imgBox">
                    <img src="~/images/GG01.jpg">
                    <img src="~/images/GG02.jpg">
                    <img src="~/images/GG03.jpg">
                </div>


            </div>

            <div class="modal-footer">


                <button type="button" class="btn btn-outline-info btn-md btn-block" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>