






<!-- 常見問答 -->
<section id="" class="question">
    <div class="container">
        <h2 class="text-center section-title" data-aos="fade-up">常見問答</h2>
        <div class="accordion text-center m-5" data-aos="flip-up" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            <strong>Q1</strong>
                            <h4>該怎麼報名活動？</h4>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>
                            請至<a href="joinEvent.html"><b>加入活動</b></a>頁面，點擊卡片上的「＋」號即可加入活動，點擊首頁的活動卡片亦可加入，可於<a href="memberEvent.html"><b>活動管理</b></a>頁面查看您所有加入的活動。
                        </p>
                    </div>
                </div>
            </div>

            <div class="card" data-aos="fade-down">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Q2</strong>
                            <h4>如果報了活動但臨時不能出席該怎麼辦？</h4>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>請至<a href="memberEvent.html"><b>活動管理</b></a>頁面，找到欲取消參加的場次，點擊<i class="icofont-exit"></i>取消活動。</p>

                    </div>
                </div>


            </div>
            
        </div>
    </div>
</section>


